@model _20241CYA12B_G3.Models.HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
      
    @if(Model.MensajeHero == "")
    {
        <h1 class="home-banner">¡Hoy es @Model.NombreDia, ahorra un @Model.Descuento en @Model.Producto</h1>
    }
    else
    {
        <h1>@Model.MensajeHero</h1>


    }
    
</div>



<div class="container mt-5">
   
    <h1 class="texto-fav">Los favoritos <img src="~/images/emoticon_smile.png" alt="Smiley"/></h1>
    <div class="row card-row">
        <div class="col-md-6 card-container">
            <div class="card large-card">
                <img src="~/images/tabla.png" class="card-img" alt="salmón Alaska XL">
                <div class="card-img-overlay">
                    <p class="card-text">Combo 100% salmón Alaska XL de 40 piezas</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-container">
            <div class="card">
                <img src="~/images/fav_postre.png" class="card-img" alt="postre">
                <div class="card-img-overlay">
                    <p class="card-text">Postre helado Oreo</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-container">
            <div class="card">
                <img src="~/images/fav_arrolladitos.png" class="card-img" alt="Empanaditas">
                <div class="card-img-overlay">
                    <p class="card-text">Empanaditas chinas de carne</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 card-container">
            <div class="card large-card">
                <img src="~/images/fav_tempura.png" class="card-img" alt="Langostinos">
                <div class="card-img-overlay">
                    <p class="card-text">Langostinos rebozados en panko fritos con salsa de tamarindo</p>
                </div>
            </div>
        </div>
    </div>



</div>


<div class="tel-container">
    <div class="row color-line">
            
        <p class="mensaje">@Model.MensajeHero</p>
        <p class="telefono"> +541140044004</p>

    </div>
</div>


<div class="container mt-5">
    <div class="row card-row">
        
        <h1 class="mt-5 mb-5 texto-fav">Nuestros locales</h1>
        
        <div class="col-md-3">
            <div class="card-places">
                <img class="card-img-top" src="~/images/local_palermo.png" alt="Local Palermo">
                <div class="card-overlay">
                    <h5 class="card-title text-white">PALERMO</h5>
                    <p class="card-texto text-light">Alto Palermo local 1</p>
                </div>
            </div>
        </div>
     
        <div class="col-md-3">
            <div class="card-places">
                <img class="card-img-top" src="~/images/local_recoleta.png" alt="Local Recoleta">
                <div class="card-overlay">
                    <h5 class="card-title text-white">RECOLETA</h5>
                    <p class="card-texto text-light">Callao 986</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-places">
                <img class="card-img-top" src="~/images/local_belgrano.png" alt="Local Belgrano">
                <div class="card-overlay">
                    <h5 class="card-title text-white">BELGRANO</h5>
                    <p class="card-texto text-light">Avenida Monroe 234</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-places">
                <img class="card-img-top" src="~/images/local_caballito.png" alt="Local Caballito">
                <div class="card-overlay">
                    <h5 class="card-title text-white">CABALLITO</h5>
                    <p class="card-texto text-light">Avenida Acoyte 234</p>
                </div>
            </div>
        </div>

    </div>
    <p class="mt-4 centrar"> Lunes a viernes de 11 a 15 hs y de 18 a 23:30 hs. Sábado y domingo de 17 a 0hs</p>
</div>

